<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
<!-- 
	<appender name="cosole" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<patter>
				%d{YYYY-MM-DD HH:mm:ss.SSS}%-5level -logger-%msg%n
			</patter>
		</encoder>
	</appender> -->
	<!-- <appender name="async_info_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<queuesize>10000</queuesize>
		<appender-ref ref="info_appender" />
	</appender>
	<appender name="info_appender" class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy.class">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/info/%d{yyyy-MM-dd}/info-log.log.%i.zip
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10KB</maxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="async_warn_appender" class="">
		<queuesize>10000</queuesize>
		<appender-ref ref="warn_appender" />
	</appender>
	<appender name="warn_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">

	</appender>

	<appender name="async_error_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<queuesize>10000</queuesize>
		<appender-ref ref="error_appender" />
	</appender>
	<appender name="error_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	</appender> -->
	<!-- ############################################################ -->
	<appender name="logziptestAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.home}/logzip.log</File>
		<Append>true</Append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${log.home}/history/logzip_.%i.zip</fileNamePattern>
			<Append>true</Append>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%date [%thread] %level %logger{10} [%file : %line] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_LOGZIPTEST_APPENDER" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>10</queueSize>
		<appender-ref ref="logziptestAppender" />
	</appender>
	<logger name="com.log.util.test.LogZipTest" level="info" additivity="true">
		<appender-ref ref="ASYNC_LOGZIPTEST_APPENDER" />
	</logger>
	<!-- ########################################################## -->
	<root level="DEBUG">
		<appender-ref ref="cosole" />
		<appender-ref ref="async_info_appender" />
		<appender-ref ref="async_warn_appender" />
		<appender-ref ref="async_error_appender" />
	</root>
</configuration>