<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义操作user表的sql映射文件userMapper.xml  -->
<mapper namespace="com.ecas.dao.IRoleDao">
    <resultMap id="loginResultMap" type="com.ecas.entiy.Role">
        <id column="userId"  javaType="java.lang.Long"></id>
        <result column="userName"  javaType="java.lang.String"/>
        <result column="password"  javaType="java.lang.String"/>
        <result column="loginTime"  javaType="java.util.Date"/>
        <result column="loginIp"  javaType="java.lang.String"/>
        <result column="loginStatu"  javaType="java.lang.Boolean"/>
        <result column="roleId"  javaType="java.lang.String"/>
    </resultMap>
    <select id="getRoleByUserId" parameterType="long" resultType="com.ecas.entiy.Role">
        select * from ecas.ecas_user_role eur where user_id = #{user_id}
    </select>
</mapper>